#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
}

.logo {
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.input:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.gif-card {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s; 
}

.gif-card:hover {
  transform: scale(1.05); 
}

.gif-card img {
  transition: opacity 0.3s, transform 0.3s; 
}

.gif-card:hover img {
  opacity: 0.4; 
}





@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

